/* MAIN CONTAINER */
.main {
  position: relative;
}

/* RETURN BUTTON */
.btn-return {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  top: 28px;
  left: 50px;
}

/* INTRODUCTION SECTION */
.introduction {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

/* CONTENT IN INTRODUCTION */
.introduction .content-introduction {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.introduction .content-introduction h3 {
  font-size: 30px;
  font-weight: 800;
}

.introduction .content-introduction p {
  font-size: 18px;
  font-weight: 400;
}

/* ADD PRODUCT BUTTON */
.introduction .btn-add-product {
  padding: 10px 30px;
  background-color: #25292e;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 17px;
}

/* FILTERS SECTION */
.filtros-base {
  width: 100%;
  height: auto;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/* FILTERS */
.filtros {
  display: flex;
  gap: 30px;
}

.filtros .category-product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.filtros .category-product p {
  font-size: 16px;
}

.filtros .category-product input {
  padding: 15px;
  width: 50px;
  border-radius: 10px;
  border: 2px solid gray;
}

/* SEARCH CONTAINER */
.search-container {
  height: 36px;
  width: auto;
  display: flex;
  align-items: center;
  background-color: gray;
  border-radius: 7px;
  padding: 1px;
  gap: 1px;
}

.search-container .search-input {
  height: 34px;
  border-radius: 6px 0 0 6px;
  border: none;
  padding-left: 20px;
}

.search-container .search-icon {
  background-color: white;
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: rgb(64, 64, 64);
  border-radius: 0 6px 6px 0;
}

/* PRODUCTS CONTAINER */
.container-products {
  margin: 20px 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.container-products .base-product {
  display: flex;
  max-width: 290px;
  height: auto;
  position: relative;
}

/* INDIVIDUAL PRODUCT */
.product {
  height: 440px;
  width: 300px;
  background-color: white;
  padding: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.product:hover {
  transform: translateY(-10px);
}

.product img {
  height: 230px;
  width: 89%;
}

/* PRODUCT DIVIDER */
.product .divisoria {
  height: 1px;
  width: 100%;
  background-color: rgb(215, 215, 215);
  margin: 20px 0;
}

.product h3 {
  font-size: 13px;
  margin-bottom: 10px;
}

.product p {
  font-size: 19px;
}

/* PRODUCT BUTTON */
.product button {
  border: none;
  background-color: white;
  margin-top: 20px;
  font-size: 14px;
  color: #3881ff;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}

/* METHOD FUNCTIONS */
.method-functions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: absolute;
  left: 100%;
}

.base-product:hover .method-functions {
  transform: translateX(0);
  opacity: 1;
}

.method-functions {
  height: auto;
  width: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* UPDATE BUTTON */
.method-functions .update {
  height: 40px;
  width: 40px;
  border: 3px solid #3881ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

/* PATCH BUTTON */
.method-functions .patch {
  height: 40px;
  width: 40px;
  border: 3px solid #22cb00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

/* DELETE BUTTON */
.method-functions .delete {
  height: 40px;
  width: 40px;
  border: 3px solid #e62e00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

/* RESPONSIVE MEDIAS QUERIES */
@media (max-width: 1315px) {
  .container-products {
      margin: 20px 30px;
      justify-content: center;
      padding: 20px;
      gap: 30px 150px;
  }
}

@media (max-width: 480px) {
  .btn-return {
      left: 30px;
  }

  .introduction {
      padding: 10px 30px;
      margin-top: 60px;
  }

  .introduction .content-introduction h3 {
      font-size: 26px;
  }

  .introduction .content-introduction p {
      font-size: 14px;
  }

  .introduction .btn-add-product {
      padding: 10px 30px;
      font-size: 12px;
  }

  .filtros-base {
      padding: 10px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      gap: 20px;
  }

  .filtros {
      gap: 20px;
  }

  .filtros .category-product p {
      font-size: 12px;
  }

  .filtros .category-product input {
      padding: 10px;
      width: 40px;
      border-radius: 10px;
      border: 2px solid gray;
  }

  .search-container {
      height: 36px;
      width: max-content;
      display: flex;
      align-items: center;
      background-color: gray;
      border-radius: 7px;
      padding: 1px;
      gap: 1px;
      margin: auto;
  }

  .container-products {
      margin: 20px 30px;
      justify-content: center;
      padding: 20px;
  }
}

@media (max-width: 400px) {
  .filtros .category-product p {
      font-size: 10px;
  }

  .filtros .category-product input {
      padding: 7px;
      width: 35px;
      border-radius: 10px;
      border: 2px solid gray;
  }

  .container-products {
      margin: 20px 30px;
  }

  .product {
      height: 440px;
      width: 250px;
  }
}
